definitions:
  model.Authentication:
    properties:
      created:
        type: integer
      id:
        type: string
      sign:
        type: string
      type:
        type: string
      updated:
        type: integer
    type: object
  model.DidDocument:
    properties:
      '@context':
        items:
          type: string
        type: array
      authentication:
        $ref: '#/definitions/model.Authentication'
      created:
        type: string
      id:
        type: string
      service:
        items:
          $ref: '#/definitions/model.Service'
        type: array
      updated:
        type: string
      verificationMethod:
        $ref: '#/definitions/model.VerificationMethod'
    type: object
  model.Service:
    properties:
      id:
        type: string
      serviceEndpoint:
        type: string
      type:
        type: string
    type: object
  model.User:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  model.VerificationMethod:
    properties:
      controller:
        type: string
      created:
        type: integer
      id:
        type: string
      publicKey:
        type: string
      type:
        type: string
      updated:
        type: integer
    type: object
  requestBase.ResponseBodyData:
    properties:
      code:
        type: integer
      data:
        additionalProperties: {}
        type: object
      msg:
        example: 成功
        type: string
    type: object
info:
  contact: {}
paths:
  /api/v1/account/getUserInfo:
    get:
      consumes:
      - application/json
      parameters:
      - description: jwt
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      summary: 用户信息
  /api/v1/account/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: 登录凭证
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.User'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      summary: 用户登陆
  /api/v1/account/register:
    post:
      consumes:
      - application/json
      parameters:
      - description: 注册凭证
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.User'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      summary: 用户注册
  /api/v1/did/create_identity:
    post:
      consumes:
      - application/json
      parameters:
      - description: 软件名称
        in: body
        name: body
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
  /api/v1/did/query_identity:
    post:
      consumes:
      - application/json
      parameters:
      - description: did标识符
        in: body
        name: body
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
  /api/v1/did/update_identity:
    post:
      consumes:
      - application/json
      parameters:
      - description: 新的did文档
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.DidDocument'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
  /api/v1/service/checkSoft:
    post:
      consumes:
      - application/json
      parameters:
      - description: jwt
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      summary: 功能api
  /api/v1/service/checkSoftV2:
    post:
      consumes:
      - application/json
      parameters:
      - description: jwt
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      summary: 功能api2
swagger: "2.0"
