definitions:
  fileUploadController.UploadResult:
    properties:
      fileName:
        description: 存储的文件名
        type: string
      fileSize:
        description: 文件大小(字节)
        type: integer
      publicURL:
        description: 公开访问地址
        type: string
    type: object
  model.Authentication:
    properties:
      created:
        type: integer
      id:
        type: string
      sign:
        type: string
      type:
        type: string
      updated:
        type: integer
    type: object
  model.DidDocument:
    properties:
      '@context':
        items:
          type: string
        type: array
      authentication:
        $ref: '#/definitions/model.Authentication'
      created:
        type: string
      id:
        type: string
      service:
        items:
          $ref: '#/definitions/model.Service'
        type: array
      updated:
        type: string
      verificationMethod:
        $ref: '#/definitions/model.VerificationMethod'
    type: object
  model.Service:
    properties:
      id:
        type: string
      serviceEndpoint:
        type: string
      type:
        type: string
    type: object
  model.User:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  model.VerificationMethod:
    properties:
      controller:
        type: string
      created:
        type: integer
      id:
        type: string
      publicKey:
        type: string
      type:
        type: string
      updated:
        type: integer
    type: object
  requestBase.ResponseBodyData:
    properties:
      code:
        description: 返回的状态码
        type: integer
      data:
        additionalProperties: {}
        description: 返回数据
        type: object
      msg:
        description: 返回的具体信息
        example: 成功
        type: string
    type: object
  sbomController.GenerateSBOMRequest:
    properties:
      file_url:
        type: string
      format:
        enum:
        - spdx-json
        - cyclonedx-json
        - syft-json
        type: string
    type: object
  sbomController.GenerateSbomResult:
    properties:
      download_url:
        description: 下载地址
        type: string
    type: object
  sbomController.QuerySBOMRequest:
    properties:
      page:
        description: 页面索引
        type: integer
      size:
        description: 页面大小
        type: integer
    type: object
  sbomController.QuerySbomResult:
    properties:
      sbomReports:
        description: sbom记录
        type: string
    type: object
  vulnerabilityScanningController.QueryRequest:
    properties:
      scanReportId:
        description: 查询分析报告的id
        type: integer
    type: object
  vulnerabilityScanningController.QueryResponse:
    properties:
      report_url:
        description: 返回报告下载链接
        type: string
    type: object
  vulnerabilityScanningController.ScanRequest:
    properties:
      sbomReportId:
        description: 生成sbom后返回的id
        type: integer
    type: object
  vulnerabilityScanningController.ScanResponse:
    properties:
      result_url:
        description: 结果链接
        type: string
    type: object
info:
  contact: {}
paths:
  /api/v1/account/getUserInfo:
    get:
      consumes:
      - application/json
      parameters:
      - description: jwt
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      summary: 用户信息
      tags:
      - 用户管理
  /api/v1/account/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: 登录凭证
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.User'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      summary: 用户登陆
      tags:
      - 用户管理
  /api/v1/account/register:
    post:
      consumes:
      - application/json
      parameters:
      - description: 注册凭证
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.User'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      summary: 用户注册
      tags:
      - 用户管理
  /api/v1/did/create_identity:
    post:
      consumes:
      - application/json
      description: 通过传入软件包名称后台自动生成一个did标识符，并生成与其对应的did文档
      parameters:
      - description: 软件名称
        in: body
        name: name
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      tags:
      - did身份标识管理
  /api/v1/did/query_identity:
    get:
      consumes:
      - application/json
      description: 通过didID来查询软件标识，传入指定的didID可以查询到该指定的文档，想要获取链上全部标识时，参数填“all”会返回所有标识。
      parameters:
      - description: '查询单个标识时传入该文档指定的didID，想要获取全部标识时，就直接传入参数“all”。 '
        in: query
        name: did
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      tags:
      - did身份标识管理
  /api/v1/did/remove_identity:
    delete:
      consumes:
      - multipart/form-data
      description: 通过表单数据来删除标识信息，注意是表单数据哦！！！
      parameters:
      - description: didID
        in: formData
        name: didID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      tags:
      - did身份标识管理
  /api/v1/did/update_identity:
    put:
      consumes:
      - application/json
      description: 通过传入结构体body数据来更新标识信息，注意这个结构体仅仅只是Document这一部分哦，这只是整个标识数据模型中的一部分，切记不要传入整个标识！！！
      parameters:
      - description: 新的did文档
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.DidDocument'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            $ref: '#/definitions/requestBase.ResponseBodyData'
      tags:
      - did身份标识管理
  /api/v1/file/upload:
    post:
      consumes:
      - multipart/form-data
      description: 上传软件包压缩包到服务器并返回访问地址,支持.zip和.tar.gz格式压缩包,格式采用multipart/form-data,字段为file
      parameters:
      - description: 选择要上传的文件
        in: formData
        name: file
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: 上传成功
          schema:
            $ref: '#/definitions/fileUploadController.UploadResult'
      summary: 上传文件
      tags:
      - 文件管理
  /api/v1/sbom/generate:
    post:
      consumes:
      - application/json
      description: 根据已上传的软件包生成SBOM文件
      parameters:
      - description: jwt
        in: header
        name: Authorization
        required: true
        type: string
      - description: 生成参数
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/sbomController.GenerateSBOMRequest'
      produces:
      - application/json
      responses:
        "200":
          description: SBOM清单信息
          schema:
            $ref: '#/definitions/sbomController.GenerateSbomResult'
      summary: 生成SBOM接口
      tags:
      - SBOM管理
  /api/v1/sbom/query:
    post:
      consumes:
      - application/json
      description: 查找用户生成sbom历史记录
      parameters:
      - description: jwt
        in: header
        name: Authorization
        required: true
        type: string
      - description: 查询参数
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/sbomController.QuerySBOMRequest'
      produces:
      - application/json
      responses:
        "200":
          description: SBOM记录
          schema:
            $ref: '#/definitions/sbomController.QuerySbomResult'
      summary: 查询SBOM接口
      tags:
      - SBOM管理
  /api/v1/vulnerability/query:
    post:
      consumes:
      - application/json
      description: 根据分析报告id查询
      parameters:
      - description: jwt
        in: header
        name: Authorization
        required: true
        type: string
      - description: 查询参数
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/vulnerabilityScanningController.QueryRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 报告信息
          schema:
            $ref: '#/definitions/vulnerabilityScanningController.QueryResponse'
      summary: 查询已经分析的报告
      tags:
      - 漏洞分析
  /api/v1/vulnerability/scan:
    post:
      consumes:
      - application/json
      description: 根据已经生成的sbom生成漏洞分析报告
      parameters:
      - description: jwt
        in: header
        name: Authorization
        required: true
        type: string
      - description: 分析参数
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/vulnerabilityScanningController.ScanRequest'
      produces:
      - application/json
      responses:
        "200":
          description: SBOM清单信息
          schema:
            $ref: '#/definitions/vulnerabilityScanningController.ScanResponse'
      summary: 生成分析漏洞接口
      tags:
      - 漏洞分析
swagger: "2.0"
